:root {
  --page-background: #F9FAFB;
  --card-background: #fff;
  --content-card-menu-background: #fff;
  --content-card-menu-hover-background: #F9FAFB;
  --content-card-menu-color: #667085;
  --content-card-menu-hover-color: #344054;
}