.search-icon {
  content: url('../search-icon.svg');
}

.help-icon {
  content: url('../help-icon.svg');
}


.bell-icon {
  content: url('../bell-icon.svg');
}

.us-flag-icon {
  content: url('../us-flag-icon.svg');
}

.video-icon {
  content: url('../video-icon.svg');
}

.image-icon {
  content: url('../image-icon.svg');
}

.feeling-icon {
  content: url('../feeling-icon.svg');
}

.avatar-news-icon {
  content: url('../avatar-news-icon.svg');
}



