.search-icon {
  content: url('../search-icon.svg');
}

.help-icon {
  content: url('../help-icon.svg');
}


.bell-icon {
  content: url('../bell-icon.svg');
}

.us-flag-icon {
  content: url('../us-flag-icon.svg');
}

.br-flag-icon {
  content: url('../br-flag-icon.svg');
}

.es-flag-icon {
  content: url('../es-flag-icon.svg');
}

.video-icon {
  content: url('../video-icon.svg');
}

.image-icon {
  content: url('../image-icon.svg');
}

.feeling-icon {
  content: url('../feeling-icon.svg');
}

.avatar-news-icon {
  content: url('../avatar-news-icon.svg');
}

.arrow-down-icon {
  content: url('../arrow-down-icon.svg');
}

.like-icon {
  content: url('../like-icon.svg');
}


.comment-icon {
  content: url('../comment-icon.svg');
}


.reply-icon {
  content: url('../reply-icon.svg');
}

.send-icon {
  content: url('../send-icon.svg');
}

.ellipsis-icon {
  content: url('../ellipsis-icon.svg');
}



