
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter';
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-style: normal;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--page-background);
  min-height: 170vh;
}

@for $i from 1 through 1920 {
  .m-#{$i} { margin: #{$i}px; }

  .mt-#{$i} { margin-top: #{$i}px; }

  .ml-#{$i} { margin-left: #{$i}px; }

  .mb-#{$i} { margin-bottom: #{$i}px; }

  .mr-#{$i} { margin-top: #{$i}px; }

  .p-#{$i} { padding: #{$i}px; }

  .py-#{$i} { padding: #{$i}px 0; }

  .px-#{$i} { padding: 0 #{$i}px; }

  .pt-#{$i} { padding-top: #{$i}px; }

  .pl-#{$i} { padding-left: #{$i}px; }

  .pb-#{$i} { padding-bottom: #{$i}px; }

  .pr-#{$i} { padding-right: #{$i}px; }

  .w-#{$i} { width: #{$i}px; }
}

@import 'color_vars';
@import 'header';
@import 'icons';
@import 'card';

@media screen and (prefers-color-scheme: dark) {
  :root {
    --page-background: #1E1E1E;
    --card-background: #363636;

    --content-card-menu-background: #1D2939;
    --content-card-menu-hover-background: #0D1B3A;
    --content-card-menu-color: #667085;
    --content-card-menu-hover-color: #fff;
  }
}

